<footer class="footer">
  <div class="footer-main">
    <figure class="footer-brand">
      <a class="logo" href="https://mandenkan.com"><img src="{{uiRootPath}}/img/mandenkan.png" alt="Mandenkan" width="48"></a>
      <figcaption class="footer-brand-name"><a href="https://mandenkan.com">Mandenkan.com</a></figcaption>
    </figure>
    <ul class="footer-brand-links">
      <li><a href="https://twitter.com/mandenkan" target="_blank" rel="noopener"><svg class="feather"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#twitter"/></svg></a></li>
      <li><a href="https://www.linkedin.com/in/diarrassouba-youssouf-5125696a/" target="_blank" rel="noopener"><svg class="feather"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#linkedin"/></svg></a></li>
      <li><a href="https://www.facebook.com/Mandenkan-2883899685167671/" target="_blank" rel="noopener"><svg class="feather"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#facebook"/></svg></a></li>
      <li><a href="https://www.instagram.com/mandenlangues/?hl=fr" target="_blank" rel="noopener"><svg class="feather"><use xlink:href="{{{uiRootPath}}}/img/feather-sprite.svg#instagram"/></svg></a></li>
      <li><a href="https://wa.me/22595768105" target="_blank" rel="noopener"><svg class="feather"><use xlink:href="{{{uiRootPath}}}/img/whatsapp.svg"/></svg></a></li>
  </ul>
  </div>

  <div class="footer-legal">
    <p>Copyright © {{{year}}} MANDENKAN, Tous droits réservés</p>
    <p><a href="https://mandenkan.com/conditions/" target="_blank" rel="noopener">Conditions</a></p>
    <p>Ce site est contruit par <a href="https://coastsystems.net">Boyd Kelly</a> pour <a href="https://mandenkan.com">Mandenkan.com</a> avec Antora et Asciidoc.</p>
  </div>

  <div class="footer-thanks">
  </div>
</footer>
