    {{#if page.attributes.canonical}}
    <meta name="canonical" content="{{page.attributes.canonical}}">
    {{else}}
    {{#with page.canonicalUrl}}
    <link rel="canonical" href="{{{this}}}">
    {{/with}}
    {{/if}}
    {{#if page.component}}
    <meta name="page-spec" content="{{spec page}}">
    {{/if}}
    {{#with page.description}}
    <meta name="description" content="{{this}}">
    {{/with}}
    {{#with page.keywords}}
    <meta name="keywords" content="{{this}}">
    {{/with}}
    {{#with (or antoraVersion site.antoraVersion)}}
    <meta name="generator" content="Antora {{this}}">
    {{/with}}
    {{#unless (eq page.attributes.pagination undefined)}}
    {{#with page.previous}}
    <link rel="prev" href="{{{relativize ./url}}}">
    {{/with}}
    {{#with page.next}}
    <link rel="next" href="{{{relativize ./url}}}">
    {{/with}}
    {{/unless}}
