    {{!-- Add additional meta tags here --}}
    <link rel="me" href="https://twitter.com/mandenkan">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mandenkan">

    {{#with page.title}}
    <meta name="twitter:title" content="{{this}}">
    {{/with}}

    {{#with page.description}}
    <meta name="twitter:title" content="{{this}}">
    {{/with}}

   {{#with page.canonicalUrl}}
    <meta name="twitter:url" content="{{{this}}}">
    {{/with}}

{{#if page.attributes.thumbnail}}
  <meta name="twitter:image" content="{{page.attributes.thumbnail}}">
{{else if (ne page.attributes.image undefined)}}
  <meta name="twitter:image" content="{{#with site.url}}{{this}}{{/with}}/{{page.component.url}}_images/{{stripExtension page.attributes.image ".x.jpg"}}">
{{else}}
  <meta name="twitter:image" content="{{#with site.url}}{{this}}{{/with}}/_/img/mandenkan.x.jpg">
{{/if}}

    {{!-- og --}}
    <meta property="og:type" content="article" />

    {{#with page.title}}
    <meta property="og:title" content="{{this}}" />
    {{/with}}

    {{#with page.description}}
    <meta property="og:title" content="{{this}}" />
    {{/with}}

   {{#with page.canonicalUrl}}
    <meta property="og:url" content="{{{this}}}" />
    {{/with}}

{{#if page.attributes.thumbnail}}
  <meta property="og:image" content="{{page.attributes.thumbnail}}">
{{else if (ne page.attributes.image undefined)}}
  <meta property="og:image" content="{{#with site.url}}{{this}}{{/with}}{{page.component.url}}_images/{{stripExtension page.attributes.image ".og.jpg"}}">

{{else}}
  <meta property="og:image" content="{{#with site.url}}{{this}}{{/with}}/_/img/mandenkan.og.jpg">
{{/if}}

    <meta property="og:locale" content="fr_CI" />
    <meta property="og:locale:alternate" content="fr_FR" />

    {{!-- Google please don't index page-noindex --}}
    {{#if (ne page.attributes.no-index undefined) }}
    <meta name="robots" content="noindex" />
    {{else}}
    <meta name="robots" content="index, follow" />
    {{/if}}

