<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item hide-for-print" href="https://mandenkan.com/"><img src="{{{uiRootPath}}}/img/logo-mandenka.png" height="70px"></a>
<a class="navbar-item title" href="{{#with (and site.url site.homeUrl)}}{{{@root.site.url}}}{{{this}}}{{else}}{{{siteRootPath}}}{{/with}}">{{site.title}}</a>
<button class="navbar-burger" data-target="topbar-nav">
  <span></span>
  <span></span>
  <span></span>
</button>
    </div>
    <div id="topbar-nav" class="navbar-menu">

      <div class="navbar-end">

        {{> navbar-search}}

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Matériel didactique</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://mandenkan.com/">Niveau 0</a>
            <a class="navbar-item" href="https://niv1.mandenkan.com/">Niveau 1</a>
          </div>
        </div>
        <a class="navbar-item" href="https://mandenkan.com"><img src="{{{uiRootPath}}}/img/mandenkan.png" height="63px" width="63px"></a>
        <div class="navbar-item">
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
      </div>
    </div>
  </nav>
  {{> nav-scripts}}
</header>
