{{#with site.keys.googleAnalytics}}
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id={{this}}"
  ></script>
  <script>function
    gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new
    Date());gtag('config','{{this}}')</script>
{{/with}}

{{#if (eq page.attributes.scriptid 'lexique')}}
{{> lexicon-script}}
{{/if}}

{{log page.attributes.hero}}
{{#if (eq page.attributes.layout 'hero')}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "EducationalOrganization",
  "name": "Mandenkan Langues",
  "url": "https://mandenkan.com",
  "logo": "https://mandenkan.com/logo.png",
  "description": "Mandenkan Langues propose une variété de cours de langues en ligne et en présentiel pour apprendre le Bambara, le Dioula et le Baoulé.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "C255+P86",
    "addressLocality": "Abidjan",
    "addressCountry": "CI"
  },
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+225 07 08 89 2439",
      "contactType": "Service client",
      "areaServed": "CI",
      "availableLanguage": "Français"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+225 07 08 89 2439",
      "contactType": "Whatsapp",
      "areaServed": "Monde Entier",
      "availableLanguage": "Français"
    }
  ],
  "sameAs": [
    "https://www.facebook.com/mandenkan2019",
    "https://www.twitter.com/mandenkan",
    "https://www.linkedin.com/in/mandenlangues",
    "https://www.linkedin.com/in/diarrassouba-youssouf",
    "https://www.instagram.com/mandenlangues"
  ],
  "hasOfferCatalog": [
    {
      "@type": "OfferCatalog",
      "name": "Catalogue des cours",
        "itemListElement": [
          {
            "@type": "Course",
            "name": "Cours Collectifs en Ligne",
            "description": "Apprenez le Bambara, Dioula, ou Baoulé dans un cadre collaboratif avec des cours collectifs en ligne.",
            "url": "https://mandenkan.com/mandenkan/cours-collectifs-en-ligne/",
            "teaches": "Dioula ou Bambara",
            "author": {
              "@type": "Person",
              "name": "Youssouf Diarassouba"
            },
            "provider": {
              "@type": "EducationalOrganization",
              "name": "Mandenkan Langues",
              "url": "https://mandenkan.com"
            },
            "offers": {
              "@type": "Offer",
              "price": "40000.00",
              "priceCurrency": "XOF",
              "availability": "https://schema.org/InStock",
              "category": "Cours en ligne collectif",
              "url": "https://mandenkan.com/mandenkan/cours-collectifs-en-ligne/"
            },
            "hasCourseInstance": [
              {
                "@type": "CourseInstance",
                "courseMode": "online",
                "courseWorkload": "P6H"
              }
            ]
          },
          {
            "@type": "Course",
            "name": "Cours Individuels en Ligne",
            "description": "Bénéficiez de cours particuliers en ligne adaptés à vos besoins et votre emploi du temps.",
            "url": "https://mandenkan.com/mandenkan/cours-individuels-en-ligne/",
            "teaches": "Dioula ou Bambara",
            "author": {
              "@type": "Person",
              "name": "Youssouf Diarassouba"
            },
            "provider": {
              "@type": "EducationalOrganization",
              "name": "Mandenkan Langues",
              "url": "https://mandenkan.com"
            },
            "offers": {
              "@type": "Offer",
              "price": "74150.00",
              "priceCurrency": "XOF",
              "availability": "https://schema.org/InStock",
              "category": "Cours en ligne individuel",
              "url": "https://mandenkan.com/mandenkan/cours-individuels-en-ligne/"
            },
            "hasCourseInstance": [
              {
                "@type": "CourseInstance",
                "courseMode": "online",
                "courseWorkload": "P48H"
              }
            ]
          },
          {
            "@type": "Course",
            "name": "Cours Collectifs en Présentiel",
            "description": "Rejoignez nos cours collectifs en présentiel à Abidjan pour apprendre le Bambara, Dioula, ou Baoulé.",
            "url": "https://mandenkan.com/mandenkan/cours-collectifs-presentiel/",
            "teaches": "Dioula ou Bambara",
            "author": {
              "@type": "Person",
              "name": "Youssouf Diarassouba"
            },
            "provider": {
              "@type": "EducationalOrganization",
              "name": "Mandenkan Langues",
              "url": "https://mandenkan.com"
            },
            "offers": {
              "@type": "Offer",
              "price": "189000.00",
              "priceCurrency": "XOF",
              "availability": "https://schema.org/InStock",
              "category": "Cours présentiel collectif",
              "url": "https://mandenkan.com/mandenkan/cours-collectifs-presentiel/"
            },
            "hasCourseInstance": [
              {
                "@type": "CourseInstance",
                "courseMode": "onsite",
                "courseSchedule": {
                  "repeatFrequency": "weekly",
                  "repeatCount": 12
                }
              }
            ]
          },
          {
            "@type": "Course",
            "name": "Cours Individuels en Présentiel",
            "description": "Profitez de l'attention personnelle d'un enseignant pour des cours privés en présentiel à Abidjan.",
            "url": "https://mandenkan.com/mandenkan/cours-individuels-presentiel/",
            "teaches": "Dioula ou Bambara",
            "author": {
              "@type": "Person",
              "name": "Youssouf Diarassouba"
            },
            "provider": {
              "@type": "EducationalOrganization",
              "name": "Mandenkan Langues",
              "url": "https://mandenkan.com"
            },
            "offers": {
              "@type": "Offer",
              "price": "336000.00",
              "priceCurrency": "XOF",
              "availability": "https://schema.org/InStock",
              "category": "Cours présentiel individuel",
              "url": "https://mandenkan.com/mandenkan/cours-individuels-presentiel/"
            },
            "hasCourseInstance": [
              {
                "@type": "CourseInstance",
                "courseMode": "onsite",
                "courseSchedule": {
                  "repeatFrequency": "weekly",
                  "repeatCount": 12
                },
                "instructor": {
                  "@type": "Person",
                  "jobTitle": "Spécialiste en Linguistique et Instructeur",
                  "name": "Youssouf Diarassouba",
                  "worksFor": "Mandenkan Langues",
                  "alumniOf": "Université Félix Houphouët-Boigny de Côte d'Ivoire (UFHB-CI)",
                  "hasCredential": [
                    {
                      "@type": "EducationalOccupationalCredential",
                      "credentialCategory": "Degree",
                      "name": "Doctorant, Linguistique",
                      "educationalCredentialAwardedBy": {
                        "@type": "Organization",
                        "name": "Université Félix Houphouët-Boigny de Côte d'Ivoire (UFHB-CI)"
                      }
                    },
                    {
                      "@type": "EducationalOccupationalCredential",
                      "credentialCategory": "Degree",
                      "name": "Diplôme d'études Approfondies (DEA), Linguistique appliquée, Grammaire, Lexicologique et Sociolinguistique",
                      "educationalCredentialAwardedBy": {
                        "@type": "Organization",
                        "name": "Université Félix Houphouët-Boigny de Côte d'Ivoire (UFHB-CI)"
                      }
                    }
                  ]
                }
              }
            ]
          }
        ]
    }
  ]
}
</script>
{{/if}}

<!-- Breadcrumb for the course page -->
{{#if (eq page.module 'docs')}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://mandenkan.com"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Articles",
      "item": "https://mandenkan.com/{{page.module}}"
    }
  ]
}
</script>
{{/if}}

{{#if (eq page.module 'cours')}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://mandenkan.com"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Échantillons de cours",
      "item": "https://mandenkan.com/{{page.module}}"
    }
  ]
}
</script>
{{/if}}

{{#if (eq page.module 'slides')}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://mandenkan.com"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Questionnaires pour apprendre le vocabulaire dioula",
      "item": "https://mandenkan.com/{{page.module}}"
    }
  ]
}
</script>
{{/if}}

{{#unless (eq page.attributes.layout 'hero')}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "about": "{{{page.title}}}",
  "keywords": "{{{page.keywords}}}",
  "url": "{{{page.canonicalUrl}}}",
  "description": "{{{page.description}}}",
  "author": {
    "@type": "Person",
    "jobTitle": "Spécialiste en Linguistique et Instructeur",
    "name": "Youssouf Diarassouba",
    "worksFor": "Mandenkan Langues",
    "alumniOf": "Université Félix Houphouët-Boigny de Côte d'Ivoire (UFHB-CI)",
    "hasCredential": [
      {
        "@type": "EducationalOccupationalCredential",
        "credentialCategory": "Degree",
        "name": "Doctorant, Linguistique",
        "recognizedBy": {
          "@type": "Organization",
          "name": "Université Félix Houphouët-Boigny de Côte d'Ivoire (UFHB-CI)"
        }
      }
    ]
  }
}
</script>
{{/unless}}

<script>
  // Redirect www.mandenkan.com and karan.mandenkan.com to mandenkan.com
  const currentHost = window.location.host;
  if (currentHost.startsWith("www.") || currentHost.startsWith("karan.")) {
    const newHost = currentHost.replace(/^(www\.|karan\.)/, "");
    window.location.replace(
      window.location.protocol + "//" + newHost + window.location.pathname + window.location.search
    );
  }
</script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
/>
