<script id="domLang">
    document.addEventListener("DOMContentLoaded", function() {
        // Add itemscope to all sect3 elements
        document.querySelectorAll("div.sect3").forEach(div => {
            div.setAttribute("itemscope", "");
            div.setAttribute("itemtype", "https://schema.org/DefinedTerm");
        });

        document.querySelectorAll("h4").forEach(h4 => {
            h4.setAttribute("lang", "dyu");
            h4.setAttribute("itemprop", "name");
        });

        // Add lang="fr" to <p> elements inside <li> elements within <ul> inside <div class="ulist">
        document.querySelectorAll("div.ulist ul li p").forEach(p => {
            p.setAttribute("lang", "fr");
            p.setAttribute("itemprop", "description");
        });

        // Add lang="dyu" to all <dt> elements
        document.querySelectorAll("dt").forEach(dt => {
            dt.setAttribute("lang", "dyu");
        });

        // Add lang="fr" to all <dd> elements
        document.querySelectorAll("dd").forEach(dd => {
            dd.setAttribute("lang", "fr");
        });

        // JSON-LD Integration
        const dyulaElements = document.querySelectorAll("h4, dt");
        let definedTerms = [];

        dyulaElements.forEach(dyulaElement => {
            const dyulaHeadword = dyulaElement.textContent.trim();

            // Find the corresponding French definition
            let frenchDefinitionElements;
            if (dyulaElement.tagName === "H4") {
                frenchDefinitionElements = dyulaElement.closest("article.dl")?.querySelectorAll("div.ulist ul li p");
            } else if (dyulaElement.tagName === "DT") {
                frenchDefinitionElements = dyulaElement.closest("dl")?.querySelectorAll("dd");
            }

            if (frenchDefinitionElements) {
                const frenchDefinition = Array.from(frenchDefinitionElements).map(el => el.textContent.trim()).join(" ");

                definedTerms.push({
                    "@type": "DefinedTerm",
                    "name": dyulaHeadword,
                    "description": frenchDefinition
                });
            }
        });

        if (definedTerms.length > 0) {
            const jsonLdData = {
                "@context": "https://schema.org",
                "@type": "DefinedTermSet",
                "name": "Dyula/Dioula-French Glossary",
                "description": "A glossary, lexicon, dictionary of Dyula/Dioula terms with French translations.",
                "url": window.location.href,
                "hasDefinedTerm": definedTerms
            };

            const jsonLdScript = document.createElement("script");
            jsonLdScript.type = "application/ld+json";
            jsonLdScript.textContent = JSON.stringify(jsonLdData, null, 2);
            document.head.appendChild(jsonLdScript);
        }
    });
</script>

