<main class="article">
{{> toolbar-slides}}
  <div class="content wide" style="justify-content: center;">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> article-slides}}
{{/if}}
  </div>
</main>
