<main class="article">
  {{> toolbar-slides}}
  <div class="content" style="justify-content: center; flex-direction: column;">
    <article class="hero">
      <iframe src="/_/hero.html" width="100%" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    </article>
    {{#if (eq page.layout '404')}}
      {{> article-404}}
    {{else}}
      {{> article}}
    {{/if}}
  </div>
</main>
