{{#if env.SITE_SEARCH_PROVIDER}}
<div class="navbar-item search-frame">
  <div class="charsmenu">
    <ul>
      <li role="menuitem">ɲ</li>
      <li role="menuitem">ŋ</li>
      <li role="menuitem">ɛ</li>
      <li role="menuitem">ɔ</li>
    </ul>
  </div>
  <div class="search hide-for-print" id="search">
    <input id="search-input" name="search-input" type="text" placeholder="Recherchez ici...">
  </div>
</div>
{{/if}}
