#preamble .abstract blockquote {
  background: var(--quote-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

.hdlist1 {
  font-weight: bold;
  font-style: italic;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  table.flex,
  table.flex thead,
  table.flex tbody,
  table.flex th,
  table.flex td {
    display: block;
  }

  table.flex tr {
    display: flex;
    flex-flow: row wrap;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.flex thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.flex td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    padding-left: 50%;
    flex-basis: 1 1 0;
  }

  td::before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1) {
    flex-basis: max-content;
  }
  /*
Label the data
  .doc td:nth-of-type(1):before { content: ""; }
  .doc td:nth-of-type(2):before { content: ""; }
  .doc td:nth-of-type(3):before { content: ""; }
  .doc td:nth-of-type(4):before { content: ""; }
  .doc td:nth-of-type(5):before { content: ""; }
  .doc td:nth-of-type(6):before { content: ""; }
  .doc td:nth-of-type(7):before { content: ""; }
  .doc td:nth-of-type(8):before { content: ""; }
  .doc td:nth-of-type(9):before { content: ""; }
  .doc td:nth-of-type(10):before { content: ""; }
  */
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.content .wide {
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .revealjs iframe,
  article.revealjs {
    /* height: var(--nav-height) !important; */
    height: calc(var(--viewport-height) - var(--navbar-height) - 2rem);
    width: 100% !important;
    padding: 0;
  }

  article.hero,
  article.hero iframe {
    width: 100% !important;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .revealjs iframe,
  article.revealjs {
    /* height: var(--nav-height--desktop); */
    height: var(--nav-height);
    height: calc(var(--viewport-height) - var(--navbar-height));
    width: 100% !important;
  }

  article.hero,
  article.hero iframe {
    width: var(--doc-max-width--desktop);
    height: 300px;
  }
}

.doc h4 {
  font-weight: bold;
}

.mermaid.content {
  width: 100%;
}

.left {
  margin-right: 1rem;
}

.doc .content iframe {
  height: auto;
  aspect-ratio: 16 / 9;
}
