header {
  font-family: var(--brand-font-family);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    border-top: 2px solid var(--accent-color);
  }
}

input#search-input,
input#google-input {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-size: var(--font-size-1);
}

.search-frame {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .search-frame {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  input#search-input {
    margin-left: 0.5rem;
  }
}

#search {
  width: inherit;
}

.charsmenu {
  display: none;
}

.charsmenu li {
  float: left;
  text-align: center;
  font-weight: 300;
  margin: 1px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  list-style-type: none;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border: 1px solid var(--color-smoke-90);
  vertical-align: middle;
  color: var(--body-font-color);
  background-color: var(--color-smoke-10);
}

.charsmenu ul {
  margin-top: 0;
  padding-left: 0.5rem;
}

.charsmenu li:hover {
  background-color: var(--color-smoke-70);
  border: 1px solid var(--color-smoke-90);
  box-shadow: var(--navbar-menu-box-shadow);
}
