html.is-clipped--navbar {
  overflow-y: hidden;
}

/* NOTE workaround bug in Firefox mobile, which clips the html element to the original viewport height */
@supports (scrollbar-width: none) {
  html.is-clipped--navbar {
    overflow-y: initial;
    scrollbar-width: none;
  }
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-navbar);
}

.navbar a {
  text-decoration: none;
}

.navbar-brand {
  display: flex;
}

.navbar-brand .navbar-item.logo {
  align-self: center;
  padding: 0;
  margin-left: 1rem;
  height: calc(0.6 * var(--navbar-height));
  width: calc(0.6 * var(--navbar-height));
}

.navbar-brand .navbar-item.logo img {
  width: inherit;
}

.navbar-brand .navbar-item.title {
  align-self: center;
  color: var(--navbar-font-color);
  font-family: var(--brand-font-family);
  font-size: 1rem;
  line-height: 1;
  position: relative;
  top: 0.06em; /* compensate for built-in line height in font */
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0 1rem;
}

#search {
  display: flex;
  position: relative; /* make results relative to whole search field, not just input */
  color: var(--body-font-color);
  width: 100%;
}

#search .query {
  border: 1px solid var(--navbar-button-border-color);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  padding: 0.25rem;
  width: 7ex; /* width required to make input flexible */
  height: -webkit-fit-content; /* fix for Safari */
  flex: auto;
}

#search :focus {
  outline: none;
}

#search.has-filter .query {
  border-right: none;
  border-radius: 0.1em 0 0 0.1em;
}

#search .filter {
  background: var(--color-white) linear-gradient(to bottom, var(--navbar-button-border-color) 0%, var(--navbar-button-border-color) 100%) no-repeat left center / 1px 50%;
  border: 1px solid var(--navbar-button-border-color);
  border-left: none;
  border-radius: 0 0.1em 0.1em 0;
  color: var(--toolbar-font-color);
  cursor: pointer;
  font-size: 0.875em;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

#search .filter input {
  margin: 0 0.25rem 0 0;
  cursor: inherit;
}

.navbar-burger {
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  position: relative;
  width: 3rem;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

.navbar-burger span {
  background-color: var(--navbar-font-color);
  height: 2px;
  width: 1rem;
}

.navbar-burger:not(.is-active) span {
  transition: transform ease-out 0.25s, opacity 0s 0.25s, margin-top ease-out 0.25s 0.25s;
}

.navbar-burger span + span {
  margin-top: 0.25rem;
}

.navbar-burger.is-active span + span {
  margin-top: -2px;
}

.navbar-burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.navbar-item .icon img,
.navbar-item .icon svg {
  width: inherit;
  height: inherit;
}

.navbar-item .icon img {
  filter: var(--navbar-menu-icon-filter);
}

.navbar-item .icon svg {
  fill: currentColor;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;
}

.navbar-dropdown .navbar-item small {
  position: relative;
  right: -1rem;
  color: var(--toolbar-muted-color);
  font-size: calc(12 / var(--rem-base) * 1rem);
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

.navbar-dropdown div.navbar-item {
  font-weight: var(--navbar-heading-font-weight);
  color: var(--navbar-heading-font-color);
  letter-spacing: -0.01em;
}

@media screen and (max-width: 1023.5px) {
  .navbar-brand {
    height: inherit;
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--body-min-height);
    overflow-y: auto;
    overscroll-behavior: none;
    padding: 0.5rem 0;
  }

  .navbar-menu:not(.is-active) {
    display: none;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background: var(--navbar-menu_hover-background);
  }

  .navbar-end .navbar-item.search {
    height: 3rem;
    display: flex;
  }

  #search .query {
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .navbar,
  .navbar-menu,
  .navbar-end {
    display: flex;
  }

  .navbar-menu {
    flex: auto;
  }

  .navbar-end {
    flex: auto;
    justify-content: flex-end;
  }

  .navbar-item,
  .navbar-link {
    display: flex;
    position: relative;
    flex: none;
  }

  .navbar-item:not(.has-dropdown),
  .navbar-link {
    align-items: center;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: "";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover,
  .navbar-end .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: currentColor;
  }

  .navbar-end .navbar-item.search {
    flex: 0 1 20rem;
    padding-left: 0;
  }

  .navbar-item .icon img {
    filter: invert(100%);
  }

  .navbar-dropdown {
    background: var(--navbar-menu-background);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: 2px solid var(--color-brand-primary);
    border-radius: var(--navbar-menu-border-radius);
    box-shadow: var(--navbar-menu-box-shadow);
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 2rem 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background: var(--navbar-menu_hover-background);
  }
}
