nav .navbar {
  font-family: var(--brand-font-family);
  font-size: 1.3rem;
}

.nav-item-toggle,
.nav-menu-toggle {
  opacity: 0.75;
}

.navbar-dropdown {
  font-size: 0.8rem;
}

.nav-panel-explore {
  display: none;
}
