.wrapper {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  /*  height: calc(100vh - 241px); */
  height: calc(100vh - 63px);
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 250%;
}

h1,
h2,
h3 {
  align-self: center;
  text-align: center;
}

.section {
  position: relative;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 25vh 10%;
  min-height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.section img {
  position: absolute;
  top: 50%;
  left: 35%;
  max-width: 320px;
  height: auto;
  transform: translateZ(0.25px) scale(0.75) translateX(-94%) translateY(-100%) rotate(2deg);
  border-radius: 1px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.section img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.section:nth-child(2n) img {
  left: 68%;
}

.section:nth-child(2n+1) img {
  left: 35%;
}

.section:nth-child(1) img {
  top: 30%;
  left: 30%;
  width: 150px;
}

.section:nth-child(2) img {
  box-shadow: none;
  max-width: 600px;
}

.section:nth-child(2n) {
  justify-content: flex-start;
  margin-left: 0;
}

.section:nth-child(2n+1) {
  margin-left: 0;
}

.section,
.section::before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: var(--color-secondary);
  text-shadow: 0 2px 2px #000;
}

.row {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#slide0 {
  flex-flow: column;
  background-image: url("../img/mende-cloth-blur.svg");
  z-index: 2;
}

#slide0 h1 {
  font-size: 250%;
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 50% 100%;
}

#slide1::before {
  background-image: url("../img/shutterstock2-rotate.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("../img/slide1.png");
  z-index: 2;
}

#slide3::before {
  background-image: url("../img/slide2.png");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background-image: url("../img/korhogo-560.png");
  z-index: 2;
}

#slide5::before {
  background-image: url("../img/mende-cloth-blur.svg");
  transform: translateZ(-1px) scale(2);
}

#offers {
  flex-flow: column;
  background-image: url("../img/shutterstock2-rotate.jpg");
  text-align: center;
}

.card {
  display: flex;
  flex-flow: column;
  width: 50%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.card p {
  font-size: 120%;
  line-height: 120%;
  color: #333;
}

.row .card {
  flex: 1 1 25%;
  margin: 0.5rem;
}

.card_footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secondary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card_header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primary);
}

.card_body {
  margin: 1rem;
}

.btn {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  flex: 0 1 350px;
  cursor: pointer;
}

.btn span {
  transition: all 0.3s;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn:hover {
  letter-spacing: 2px;
  text-decoration: none;
}

.btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

@media screen and (max-width: 600px) {
  .section,
  .row,
  .card_footer {
    display: block;
  }

  .section img {
    display: none;
  }

  .section .card,
  #offers .card {
    width: 100%;
  }
}
