@import "tabset-vars.css";

.doc .tabs ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 calc(-1 * var(--tab-spacing)) 0 0; /* counteract the li right margin */
  padding: 0;
}

.doc .tabs li {
  align-items: center;
  background-color: var(--tab-active-background);
  border: var(--tab-border-width) solid var(--tab-border-color);
  border-top-left-radius: var(--tab-border-radius);
  border-top-right-radius: var(--tab-border-radius);
  border-bottom: 0;
  cursor: pointer;
  display: flex;
  font-weight: var(--tab-font-weight);
  height: var(--tab-height);
  line-height: var(--tab-line-height);
  margin-right: var(--tab-spacing);
  margin-bottom: 0;
  padding: 0 var(--tab-padding);
  position: relative;
}

.doc .tabs li + li {
  margin-top: 0;
}

.doc .tabset.is-loading .tabs li:not(:first-child),
.doc .tabset:not(.is-loading) .tabs li:not(.is-active) {
  background-color: var(--tab-inactive-background);
  color: var(--tab-font-color);
}

.doc .tabset.is-loading .tabs li:first-child::after,
.doc .tabs li.is-active::after {
  background-color: var(--tab-active-background);
  content: "";
  display: block;
  height: 3px; /* Chrome doesn't always paint the line accurately, so add a little extra */
  position: absolute;
  bottom: -1.5px;
  left: 0;
  right: 0;
}

.doc .tabset > .content > .tabset-panes {
  border: var(--tab-border-width) solid var(--tab-border-color);
  padding: var(--tab-content-padding);
  background-color: var(--tab-active-background);
}

.doc .tabset.is-loading .tab-pane:not(:first-child),
.doc .tabset:not(.is-loading) .tab-pane:not(.is-active) {
  display: none;
}

.doc .tab-pane > :first-child {
  margin-top: 0;
}

.tab {
  background-color: var(--tab-inactive-background);
}

.tab.is-selected {
  background-color: var(--tab-active-background);
}
