.dico .toc .toc-menu ul {
  display: flex;
  flex-direction: column;
  font-size: calc(20 / var(--rem-base) * 1rem);
  line-height: auto;
  max-height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overscroll-behavior: none;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .dico .toc .toc-menu ul {
    display: flex;
    flex-flow: row wrap;
  }
}

.dico .toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 1024px) {
  .toc .toc-menu h3 {
    font-size: calc(20 / var(--rem-base) * 1rem);
  }

  .toc .toc-menu ul {
    font-size: calc(15.5 / var(--rem-base) * 1rem);
  }
}

.dico .toc .toc-menu li {
  display: block;
  margin: 0;
}

.dico .toc .toc-menu li[data-level="1"] {
  flex-basis: 100%;
  flex-shrink: 0;
}

.dico .toc .toc-menu li[data-level="2"] {
  height: 3em;
  width: 3em;
  flex: 0 0 3em;
  display: block;
  text-align: center;
}

.dico .toc .toc-menu li[data-level="1"] a {
  padding-left: 1rem;
}

.dico .toc .toc-menu li[data-level="2"] a {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
}

.toc .toc-menu a {
  color: var(--doc-font-color);
  border-left: 2px solid var(--toc-border-color);
  text-decoration: none;
}

.dico .toc .toc-menu a {
  color: var(--doc-font-color);
  border-left: 2px solid var(--toc-border-color);
  text-decoration: none;
}

.dico .toc .toc-menu a:hover {
  color: var(--doc-font-color);
  background-color: var(--color-secondary);
  -webkit-text-stroke-width: 0.01em;
}

.dico .toc .toc-menu a.is-active {
  border-left-color: var(--color-primary);
  color: var(--doc-font-color);
  -webkit-text-stroke-width: 0.01em;
}

.dico .toc .toc-menu a:focus {
  background-color: var(--color-panel-background);
}

.dico .toc .toc-menu a::before {
  display: block;
  content: "";
  top: -1px;
  bottom: -1px;
  left: -2px;
  right: -2px;
  background-color: var(--color-secondary);
  z-index: -1;
  transform: scale(0);
  transition: transform 0.2s ease;
  border-radius: 6px;
}

.dico .toc .toc-menu a:hover::before {
  display: block;
  background-color: var(--color-secondary);
  transform: scale(1);
}

.dico .toc .toc-menu a:active {
  color: var(--color-primary);
}

.dico .toc .toc-menu a:active::before {
  display: block;
  background-color: var(--color-navbar-background);
}

.dico ul.sectlevel1 {
  list-style: none;
  padding: 0 0 0 0;
}

.dico ul.sectlevel1 > li:first-child {
  display: none;
}

.dico ul.sectlevel1 > li:nth-child(2) > a {
  display: none;
}

.dico ul.sectlevel2 {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 0 0 0;
}

.dico div#toctitle {
  display: none;
}
