.home-link {
  background: url(../img/home.svg) no-repeat center / 100% 100%;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home-o.svg);
}

.nav-toggle {
  filter: invert(1);
}

.toolbar > .slides {
  display: inline;
}

@media screen and (max-width: 1023px) {
  .toolbar.slides {
    height: var(--toolbar-height);
    background-color: transparent;
    max-width: fit-content;
    position: absolute;
    box-shadow: none;
  }
}

@media screen and (min-width: 1024px) {
  .toolbar.slides {
    height: 1px;
  }
}
