:root {
  /* colors */
  --color-brand-primary: #e40046;
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-15: #bababa;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* custom colours */
  --color-orange: #ff6f00;
  --color-blue: #5c80bc;
  --color-green: #41af46;
  --color-red: #d9534f;
  --color-yellow: #e8c547;
  --color-primary: #b8642b;
  --color-secondary: #713a1f;
  --color-accent: #dcd1c9;
  --color-set-panel: var(--color-accent);
  --table-set-stripe-background: rgba(119, 84, 22, 0.025);
  /* utils */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --viewport-height: calc(100 * var(--vh, 1vh)); /* used to represent a tunable value of 100vh */
  /* fonts */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-80);
  --body-font-family: 'Noto Sans', sans-serif;
  --body-font-weight-bold: 700;
  --monospace-font-family: 'Cousine', monospace;
  --monospace-font-weight-bold: 700;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-set-panel);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-thumb-color: var(--color-gray-10);
  /* navbar */
  --navbar-background: var(--color-primary);
  --navbar-font-color: var(--color-white);
  --navbar-heading-font-color: var(--color-gray-70);
  --navbar-heading-font-weight: var(--body-font-weight-bold);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-border-radius: 0 0 0.25rem 0.25rem;
  --navbar-menu-box-shadow: 0 2px 4px rgba(160, 160, 160, 0.15);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu-icon-filter: invert(10%); /* matches --color-jet-80 */
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-muted-icon-filter: invert(36.5%); /* matches --color-gray-70 */
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: var(--color-black);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-white);
  --toolbar-icon-filter: var(--nav-muted-icon-filter);
  --toolbar-primary-icon-filter: var(--navbar-menu-icon-filter);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  /* admonitions (see https://coolors.co/802392-e40046-2d7dd2-43b929-ff7700) */
  --caution-color: #802392;
  --caution-on-color: var(--color-white);
  --important-color: var(--color-brand-primary);
  --important-on-color: var(--color-white);
  --note-color: #217ee7;
  --note-on-color: var(--color-white);
  --tip-color: var(--color-green);
  --tip-on-color: var(--color-white);
  --warning-color: #e18114;
  --warning-on-color: var(--color-white);
  /* doc */
  /*
  --doc-font-color: #242424;
  --doc-font-color: #24292e;
  */
  --doc-font-color: #24262b;
  --doc-icon-filter: invert(14.5%); /* matches #242424 */
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  /*
  --link-font-color: #048ba8; blue munsell
  --link-font-color: #2e86ab; blue NCS
  --link-font-color: #2c7fa2; blue NCS (with increased contrast)
  --link-font-color: #218380; celadon green
  */
  --link-font-color: #2c7fa2;
  --link_hover-font-color: #08658c; /* brightness(75%) saturate(150%) */
  --link_unresolved-font-color: var(--important-color);
  --link_unresolved-hover-font-color: #ec003a;
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --pre-annotation-icon-filter: invert(50.2%); /* matches --color-gray-50 */
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--table-set-stripe-background);
  --table-footer-background:
    linear-gradient(
      to bottom,
      var(--color-smoke-70) 0%,
      var(--color-white) 100%
    );
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-secondary);
  --footer-font-color: var(--color-smoke-30);
  --footer-link-font-color: var(--color-set-panel);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(var(--viewport-height) - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(var(--viewport-height) - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(1024 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-doc: 1;
  --z-index-nav: 2;
  --z-index-toolbar: 3;
  --z-index-page-version-menu: 4;
  --z-index-footer: 5;
  --z-index-navbar: 6;
}
