<!DOCTYPE html>
<html lang="fr">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body componentOrder=page.attributes.component-order}}
{{> footer}}
  </body>
</html>
