<!DOCTYPE html>
<html lang="fr">
  <head>
    {{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    {{> header}}
    <main class="wrapper">
      <section id="slide0" class="section header">
        <h1>Bienvenu sur Mandenkan !</h1>
        <h2>La plateforme dédiée essentiellement à l’apprentissage du Dioula et du Bambara en ligne.</h2>
        <h2>Apprendre le Dioula et le Bambara en toute simplicité </h2>
        <p>
          Cours particuliers
          * Cours à distance
          * Interprétariat/Traduction
          * Mise à disposition de matériels didactiques
          * Contenus multimédias disponibles
          * Lexique thématique et illustré
          * Exercices adaptés à votre niveau
          * Vidéos et dialogues
          * Espace privé
          * Accès à distance 24h/24h, 7j/7
          * Suivi de progression et auto-évaluation
          * Experts linguistiques pour vous accompagner dans votre progression
          * Forum de discussion
        </p>
        <img src="../_/img/mandenkan.png">
      </section>
      <section id="slide1" class="section">
        <div class="card">
          <div class="card_header">
          <h1>Qui sommes nous?</h1>
          </div>
          <div class="card_body">
          <p>
            MANDENKAN est une plateforme de valorisation des langues mandingues (principalement celles parlées en Côte d’Ivoire. Notons que plusieurs variantes du dioula et du Bambara sont parlées dans la sous-région ouest-africaine) et des valeurs culturelles mandingues. Les Mandingues sont répandus dans la quasi-totalité des pays d’Afrique de l’Ouest (Burkina Faso, Côte d’Ivoire, Gambie, Guinée Bissau, Libéria, Mali, Mauritanie, Sénégal et Sierra Léone) et leur langue est très pratiquée dans les grandes villes d’Afrique de l’Ouest, et même d’Afrique Centrale.
            A Ouagadougou, à Niamey, et même à Kinshasa, il est possible de faire ses emplettes au marché si l’on sait parler la langue des Mandingues.
          </p>
          <details>
            <summary>Qui peut bénéficier de nos services ?</summary>
            <ul>
              <li>Tout Ivoirien souhaitant maîtriser la pratique du <strong>Dioula et/ou du Bambara<em>;</em></strong></li>
              <li>Expatriés désireux d’apprendre la langue pour diverses raisons (<strong>simple curiosité ou usage pour le travail</strong>),</li>
              <li>Institutions (<strong>écoles, administrations, organisations nationales et internationales</strong>),</li>
              <li>Maisons d’éditions (<strong>Des offres de traductions sont disponibles</strong>).</li>
            </ul>
          </details>

          <details>
            <summary>Nos objectifs</summary>
            <ul>
              <li>Faciliter le retour aux sources des personnes d’origine mandingues qui ont, pour une raison ou une autre, perdu le contact ou la pratique de la langue<strong>;</strong></li>
              <li>Satisfaire les personnes désireuses d’apprendre le <strong>Dioula </strong>ou le <strong>Bambara </strong>pour diverses raisons ;</li>
              <li>Permettre aux locuteurs natifs et tout autre apprenant d’écrire la langue (L’orthographe et la phonétique du <strong>Dioula ou du Bambara</strong> ne sont pas connus de tous) ;</li>
              <li>Véhiculer les valeurs morales, culturelles et spirituelles du peuple mandingue. Soulignons que les mandingues sont un peuple d&#8217;Afrique de l&#8217;Ouest faisant partie des peuples Mandés. Ils sont connus sous d&#8217;autres dénominations telles que les Bambaras au Mali, les Dioulas en Côte d&#8217;Ivoire et au Burkina Faso et les Malinkés en Guinée, au Sénégal et en Gambie</li>
            </ul>
          </details>
        </div>
        </div>
        <img src="../_/img/logo-mandenka.png">
        <image src="../_/img/mandenkan-offre.png">
      </section>

      <section id="slide2" class="section">
        <div class="card">
          <div class="card_header">
          <h1>Cours particuliers</h1>
          </div>
          <div class="card_body">
          <p>Mandenkan propose des cours privés de Dioula et de Bambara aux personnes désireuses de disposer d’une certaine flexibilité dans leur apprentissage. Les horaires sont fixés, de commun accord, 48 heures minimum avant la tenue effective de la séance.
          Il s’agit essentiellement d’entretiens directs avec l’apprenant à domicile ou dans un lieu défini au préalable par les parties prenantes.</p>
        </div>
            <div class="card_footer">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI2CC9hTGfnwVBJ4_syjmy8_EEavuBXlshyv0YCDw5gx8-PQ/viewform" class="btn">Je m'inscris!</a>
        </div>
        </div>
        <img src="../_/img/particuliers.png">
        <img src="../_/img/distance.png">
      </section>

      <section id="slide3" class="section">
        <div class="card">
          <div class="card_header">
            <h1>Cours à distance</h1>
          </div>
          <div class="card_body">
            <p>Mandenkan met à la disposition de ses apprenants un mécanisme souple de formation organisé en fonction de besoins individuels ou collectifs (Individus, entreprises, organismes et collectivités).
            Les cours comportent des apprentissages individualisés et l’accès à des ressources et compétences locales ou à distance.
              L’essentiel de la formation se fait à travers des échanges téléphoniques et la mise à disposition de manuels didactiques adaptés et faciles à comprendre. Des discussions instantanées sont également prévues afin de résoudre les éventuelles difficultés rencontrées.
            </p>
          </div>
          <div class="card_footer">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI2CC9hTGfnwVBJ4_syjmy8_EEavuBXlshyv0YCDw5gx8-PQ/viewform" class="btn">Je m'inscris!</a>
          </div>
        </div>
      </section>

      <section id="slide4" class="section">
        <div class="card">
          <div class="card_header">
            <h1>Interprétariat</h1>
          </div>
          <div class="card_body">
            <p><strong>Mandenkan</strong> se propose d’assurer vos <strong>missions d’interprétariat en Dioula et/ou en Bambara</strong>. Dans le cadre de projets communautaires, nous avons été <strong>sollicités pour servir de liens entre les meneurs de ces initiatives de développement et les populations cibles.</strong></p>
            <p>Votre prestation est assurée par des locuteurs natifs (<a href="https://fr.wikipedia.org/wiki/Linguistique" target="_blank"><strong>Experts linguistiques</strong></a>) dont la plupart sont diplômés de l’Institut de Linguistique Appliquée de l’<strong><a href="http://univ-fhb.edu.ci/" target="_blank" rel="noopener noreferrer">Université Félix HOUPHOUËT-BOIGNY</a> d’Abidjan (Côte d’Ivoire)</strong> ou de facultés de linguistique de la sous-région.</p>
            <p>Nous vous garantissons une interprétation réaliste, fiable et cohérente par déplacement ou par téléphone.</p>
            <p><strong><a href="https://bm.wikipedia.org/wiki/Mandenkan">Besoin d’interprètes en Dioula ou en Bambara, nous restons disposés à vous accompagner dans votre projet !</a></strong></p>

          </div>
        </div>
        <img src="../_/img/woman.png">
      </section>

      <section id="slide5" class="section">
        <div class="card">
          <div class="card_header">
            <h1>Traduction</h1>
          </div>
          <div class="card_body">
            <p>
              Mandenkan a une longue expérience de la traduction des documents officiels et des textes (écrits et/ou oraux) de toute nature (Livres, Articles, Films…). 
              Le but étant de permettre aux entreprises et aux particuliers du monde entier de mener leurs activités, communiquer et comprendre le monde dans lequel ils vivent (En l’occurrence la communauté mandingue).
              La traduction sera assurée par des traducteurs ayant pour langue maternelle le Dioula ou le Bambara et ayant une parfaite connaissance des langues engagées (langue source et langue cible)
            </p>
          </div>
        </div>
        <img src="../_/img/interpretariat.png">
        <img src="../_/img/hommes.png">
      </section>

      <section id="offers" class="section">
        <h1>DIFFERENTS FORFAITS MANDENKAN</h1>
        <h2>Sur www.mandenkan.com , nous vous proposons des abonnements diversifiés. Plus la durée de l’abonnement est longue, plus l’abonnement est économique.
        </h2>
        <div class="row">
          <div class="card">
            <div class="card_header">
              <h2>★</h2>
              <h2>Offre Trimestre</h2>
            </div>
            <div class="card_body">
              <p>92 € / MOIS</p>
              <p>Disponible 7j/7 durant 3 mois</p>
              <p>2 entretiens directs ou téléphoniques par semaine</p>
            </div>
            <div class="card_footer">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI2CC9hTGfnwVBJ4_syjmy8_EEavuBXlshyv0YCDw5gx8-PQ/viewform" class="btn">Je m'inscris!</a>
            </div>
          </div>
          <div class="card">
            <div class="card_header">
              <h2>★</h2>
              <h2>Offre Semestre</h2>
            </div>
            <div class="card_body">
              <p>62 € / MOIS</p>
              <p>Disponible 7j/7 durant 6 mois</p>
              <p>2 entretiens directs ou téléphoniques par semaine</p>
            </div>
            <div class="card_footer">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI2CC9hTGfnwVBJ4_syjmy8_EEavuBXlshyv0YCDw5gx8-PQ/viewform" class="btn">Je m'inscris!</a>
            </div>
          </div>
          <div class="card">
            <div class="card_header">
              <h2>★</h2>
              <h2>Offre Année</h2>
            </div>
            <div class="card_body">
              <p>46 € / MOIS</p>
              <p>Disponible 7j/7 durant 12 mois</p>
              <p>2 entretiens directs ou téléphoniques par semaine</p>
            </div>
            <div class="card_footer">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI2CC9hTGfnwVBJ4_syjmy8_EEavuBXlshyv0YCDw5gx8-PQ/viewform" class="btn">Je m'inscris!</a>
            </div>
          </div>
        </div>
      </section>
      {{> footer}}
    </main>
  </body>
</html>
